{% extends 'base.html' %}

{% block head %}
<title>NLP Basics Prompts</title>


{% endblock %}

<!-- BODY -->
{% block body %}

<!-- MAIN CONTAINER -->
<div class="main_container" id="main_container">
    <!-- HEADERS -->
    <div class="headers">
        <div id="center-headers">
            <h1 class="hdrs">Basics about NLP</h1>
            <h5 class="hdrs">Just ask anything about NLP</h5>
        </div>
    </div>

    <!-- TEXTAREA AND INPUT -->
    <div class="input_area">
        <form action="/user_prompt_add" method="POST">
            <textarea name="discussion_area" id="discussion_area" rows="10" cols="50">
                {% if memory %}
{{memory}}
                {% endif %}
            </textarea>
            <input type="text" name="user_input" id="user_input" placeholder="Add Prompt">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}

